$white: rgb(255, 255, 255);
$beau-blue: #cae5ffff;
$charcoal: #2f4858ff;
$midnight-blue: #03045eff;
$dark-cornflower-blue: #023e8aff;

$gradient-top-left: linear-gradient(
	225deg,
	rgba(168, 218, 220, 0.356),
	rgb(51, 100, 138)
);
